//@import url(/scss/themes/default_themes.scss);
// nhớ chú ý có dấu chấm '.' nếu ko thì scss không hiểu.
// lên sass-lang.com để tra câu lệnh sass.
@import './themes/default_themes';
@import './layout/components/components.scss';
@import './base/base';



//Phần mới: sử dụng nesting css

.header {
    // background: $bg-c1-primary;
    color:var(--color) !important;
    background-color: var(--bg) !important;
    -webkit-box-shadow: 1px 9px 5px 0px rgba(42,115,221,0.59); 
    box-shadow: 1px 9px 5px 0px rgba(42,115,221,0.59);

    .container {
        padding: 15px;
        .d-flex {   
            display: flex;
            justify-content: space-between;
            .logo {
                font-size: 30px;
                color: $text-c0-primary;
                font-weight: 400;
            }
            .menu {
                a {
                    font-size: 18px;
                    font-weight: 300;
                    color: var(--color);
                    margin: 0px 10px;
                    text-decoration: none;
                    position: relative;
                    
                    &::after{
                        content: '';
                        position: absolute;
                        transform: scale(0,1);
                        width: 100%;
                        height: 3px;
                        background-color: $bg-c0-primary;
                        left: 0;
                        bottom: -3px;
                        transition: transform 0.5s;
                    
                    }
                    &:hover {
                        color: $text-c0-primary;
                        &::after {
                            transform: scale(1,1);
                            transition: transform 0.5s;
                        }
                    }
                }
            }
        }
    }
}

.carousel {
    margin-top: 10px;
    background: url(/image/product-header-bg.jpg);
    background-position: right bottom;
    background-size: cover;
    .container {
        max-height: 750px;
        .d-flex {
            height: 750px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .title {
                h1 {
                    // font-size: $fs-6xl;
                    // font-weight: $fw-semibold;
                    // color: $text-c0-primary;
                    @include text($fs-6xl, $fw-semibold, $text-c0-primary);

                }
                h2 {
                    // font-size: $fs-3xl;
                    // font-weight: $fw-light;
                    // color: $text-c0-dark;
                    font-size: $fs-3xl;
                    font-weight: $fw-light;
                    color: $text-c0-dark;
                }
                p {
                    @include text();
                    margin-bottom: 15px;
                }
                .btn-info {
                    // background: transparent;
                    // padding: 13.5px 44px;
                    // border: 2px solid #2a73dd;
                    // border-radius: 8px;
                    // font-size: 14px;
                    // font-weight: 600;
                    // color: #2a73dd;
                    // transition: .5s;
                    // cursor: pointer;
                    @include button($fs-base, $fw-semibold, $text-c0-primary, $bg-none, 2px solid #2a73dd, 8px, 13.5px 44px, $text-c0-light, $bg-c0-primary);
                }
                .btn-shop {}
            }
            img {
                // width: 100%;
                height: 75%;
            }
            
        }
    }
}

//Khái niệm component, ví dụ đổi màu một cái thì những cái tương tự đổi màu theo. Component là những thành phần chung trong giao diện và có khả năng tái sử dụng.

.products {
    background: $bg-c1-primary;
    .container {
        .title {
            text-align: center;
            padding: 30px 0px;
            //@include text($fs-3xl, $fw-semibold, $text-c0-dark);
            @extend .text-title;
        }

        .list-item {
            display: flex;
            flex-wrap: wrap;

            .col {
                //Lý do dùng calc lấy 100% chia 3 mà vẫn có 6 sản phẩm như trong bài cùng nằm trên một hàng vì dùng flex. Flex sẽ chia các con đều trên cùng một hàng. Nên sẽ sử dụng flex wrap, khi đầy thì flex wrap sẽ tự động xuống dòng.
                width: calc(100%/3);

                @media screen and (max-width: 768px) {
                    width: calc(100%/2);
                }

                @media screen and (max-width: 576px) {
                    width: 100%;
                }

                @for $i from 0 to 6 {
                    .item-#{$i + 1} {
                        animation: fade-down 1s*($i + 1);
                    }
                } 

                .card {
                    margin: 1%;
                    @extend .shadow;

                    // animation: fade-down 0.5s;


                    // background-color: blue;
                    img {
                        width: 100%;
                    }
                    .card-body {
                        padding: 15px;  
                        .name-price {
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-start;
                            .name {
                                @extend .text-title;
                                i {
                                    @extend .text-dark, .text-base;
                                }
                            }
                            p {
                                @extend .text-title;
                            }
                        }
                    }

                    .rating-button {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        .rating {
                            i {
                                @extend .text-warning;
                            }
                        }
                    }

                    .btn-buy {
                        @extend .button-primary;
                        i {}
                    }
                }
            }
        }
    }
}


@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}























